node_modules
dist
.git
.gitignore
.dockerignore
npm-debug.log
pnpm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
docker-compose.yml
k8s/
README.md
docs/
test/
jest.config.js
*.md
